/.env
/praw.ini
/model/*/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/simple-bot-gpt2.iml
/.idea/vcs.xml
/cache_dir/
/build/*
/simple_bot_gpt2.egg-info/*
/config.ini
